@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'rook';
    font-style: normal;
    font-display: block;
    src: url(/rookiest.woff2) format('woff2');
  }
}